.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-image: url("src/assets/landingPageImg.jpg");
    background-position: cover;
    background-size: cover;
    height: calc(100vh - 91px);
    color: #a1a1a1;
}
#title {
    color: #1a1a1a;
    margin-top: 60px;
    font-size: 60px;
}
