nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(26, 26, 26, 0.2);
    box-shadow: 0 2px 8px 0 #04d9ff;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    font-size: 20px;
    transition: font-size 0.3s ease, transform 0.3s ease, color 0.3s ease,
        text-shadow 0.3s ease;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #a1a1a1;
    font-weight: bold;
}

nav a:hover {
    color: #04d9ff;
    font-size: 20.5px;
    transform: scale(1.1);
    text-shadow: 1px 1px 10px #04d9ff;
}
